.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    margin-bottom: 15px;
    background: lightgray;
    color: black;
}

.video-item.item img {
    max-width: 200px;
    max-height: 250px ;
}

.content {
    margin-left: 20px;
}